<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="dashboard-body">

<div class="dashboard-container">

    <h1>👨‍💼 Admin Dashboard</h1>

    <ul class="dashboard-menu">

        <ul class="dashboard-menu">

<li>
<a href="/admin/create-exam">
📝 Create Exam
</a>
</li>

<li>
<a href="/admin/add-question">
➕ Add Questions
</a>
</li>

<li>
<a href="/admin/delete-exam">
🗑 Delete Exam
</a>
</li>

<li>
<a href="/admin/results">
📊 View Student Results
</a>
</li>

</ul>

<a href="/admin/logout"
class="logout">

Logout

</a>

</div>

</body>
</html>