<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="login-body">

<div class="container">

    <h2>Student Registration</h2>

    <form action="/register" method="POST">

        <input
            type="text"
            name="name"
            placeholder="Enter Name"
            required>

        <input
            type="email"
            name="email"
            placeholder="Enter Email"
            required>

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required>

        <button type="submit">

            Register

        </button>

    </form>

    <p style="text-align:center; margin-top:20px;">

        Already have an account?

        <a href="/">

            Login Here

        </a>

    </p>

</div>

</body>
</html>